문서 작업/
Django/date/__pycache__/
Django/date/migrations/__pycache__/
Django/Now_Date/__pycache__/
*/*/__pycache__/

### Django ###
*.log
*.pot
local_settings.py
Django/db.sqlite3
db.sqlite3-journal
media
Django/.idea/

Django/date/static/date/imgs/
Django/date/migrations/

/Users/planebusuber/Desktop/ju_chat_ang/shut_the_parking/__pycache__/settings.cpython-311.pyc
/Users/planebusuber/Desktop/ju_chat_ang/shut_the_parking/__pycache__/urls.cpython-311.pyc