<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>Shut The Parking</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="{% static 'assets/js/ie/html5shiv.js' %}"></script>
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/ie9.css' %}">
		<link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	</head>
	<body>
	{% include "parking/nav.html" %} <!-- nav -->

	{% block contents %} <!-- 목차 -->
	{% endblock %}

	{% block main_page %} <!-- 메인페이지 -->
	{% endblock %}

	{% block statistic_list %} <!--통계자료 목록 -->
	{% endblock %}

	{% block seoul_map %} <!-- 서울 주차장 맵 -->
	{% endblock %}

	{% block count_map %} <!-- 구별 주차장 맵 -->
	{% endblock %}

	{% block parking_expose %} <!-- -->
	{% endblock %}

	{% block parking_expose_corr %} <!-- -->
	{% endblock %}

	{% block parking_count_detail_list %} <!-- 1번 분석 상세 페이지 -->
	{% endblock %}

	{% block seoul_circle %} <!--1번 분석 2번 -->
	{% endblock %}

	{% block parking_expose_corr_detail_list %} <!-- -->
	{% endblock %}

	{% block transportation %} <!-- 3번 분석 상세 페이지 -->
	{% endblock %}

	{% block parking_expose_corr_map %} <!-- CCTV 지역구 맵 -->
	{% endblock %}

	{% block reference %} <!-- REFERENCE -->
	{% endblock %}

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/ie/respond.min.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	{% include "parking/footer.html" %}
	</body>
</html>
