{% extends "parking/base.html" %}


{% block contents %}

<section id="banner">

    <div class="inner split">
        <section>
            <h2>목 차</h2>
            </br>
            </br>
            <h2> - 주제 선정 및 가설 설정</h2>
            </br>
            <h2></h2>
            </br>
            <h2> - 데이터 수집 </h2>
            </br>
            </br>
            <h2> - 데이터 전처리 </h2>
            </br>
            <h2></h2>
            </br>
            <h2> - 데이터시각화를 통한 가설검증</h2>
            </br>
            <h2></h2>
            </br>
        </section>

        <section>
            <ul class="actions">
                </br></br></br></br></br></br></br></br></br>
                <a href="/statistic_list/" class="button special float">Next Page →</a>
            </ul>
        </section>
    </div>
    </br></br></br></br></br></br>
</section>
{% endblock %}