{% extends "parking/base.html" %}
{% block contents %}
<section id="banner">

    <div class="inner split">
        <section>
            <h2>프로젝트 과정</h2>
            </br>
            </br>
            <h3><li>주제 선정 및 가설 설정</li></h3>
            </br>
            <h2></h2>
            </br>
            <h3><li>데이터 수집 및 전처리</li></h3>
            </br>
            </br>
            <h3><li>데이터시각화를 통한 가설검증</li></h3>
            </br>
            <h2></h2>
            </br>
            <h3><li>해결방안 제시</li></h3>
            </br>
            <h2></h2>
            </br>
        </section>

        <section>
            <ul class="actions">
                </br></br></br></br></br></br></br></br></br>
                <a href="/seoul_map/" class="button special float">Next Page →</a>
            </ul>
        </section>
    </div>
    </br></br></br>
</section>
{% endblock %}