{% load static %}
<nav style ="background-color:#49476e;">
        <!-- nav 적용  -->
    <center>
        <a href="/"><img src="{% static 'logo/shut_the_parking_logo.png' %}" style="width:300px;"> </a>
    </center>
        <ul id="nav2" class="nav justify-content-center">
            <li class="nav-item ">
                <a class="nav-link active text-white" href="/">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/seoul_map/">PARKING MAP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/statistic_list/">STATISTIC</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/reference/"> REFERENCE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/solution_plan/">SOLUTION PLAN</a>
            </li>
        </ul>
</nav>