{% extends "parking/base.html" %}

{% block parking_expose_corr_detail_list %}
{% load static %}

<section id="one" class="wrapper text-white" style= "background-color:#49476e;" xmlns="http://www.w3.org/1999/html">
				<div class="inner split">
					<section>
						<h2>2. 서울시 불법주정차 민원신고와 </h2>
						<h2>&nbsp;&nbsp;&nbsp;단속카메라 적발 건 수 상관관계</h2>
					</section>
				</div>
			</section>
			<section id="two" class="wrapper style2 alt">
				<div class="inner">
					<div class="spotlight">
						<div class="image">
							<img src="{% static 'images/parking_expose.png' %}" alt="">
						</div>
						<div class="content">
							<h3>불법주정차 단속카메라 적발 건 수와 민원신고 건 수 비교</h3>
							<p>단속 카메라로 인한 적발이 적어질 수록 민원으로 인한 적발 수는 증가하는 추세.</p>
							<ul class="actions">
								<li><a href="/parking_expose/" class="button special">상세보기 →</a></li>
							</ul>
						</div>
					</div>
					<div class="spotlight">
						<div class="image">
							<img src="{% static 'images/parking_expose_corr.png' %}" alt="">
						</div>
						<div class="content">
							<h3>불법주정차 단속 카메라 적발 건 수과 민원신고 건 수의 상관관계</h3>
							<p>단속 카메라 적발과 민원 적발의 비교를 뒷받침하는 상관관계를 보여주는 그래프.</p>
							<ul class="actions">
								<li><a href="/parking_expose_corr/"  class="button special">상세보기 →</a></li>
							</ul>
						</div>
					</div>
					<div class="spotlight">
						<div class="image">
							<img src="{% static 'images/min_cctv_corr_map.png' %}" style="width:400px; height:250px;" alt="">
						</div>
						<div class="content">
							<h3> 단속카메라 적발과 지역구별 주차장 수 지도시각화 </h3>
							<p> 지도 시각화를 통해 한눈에 비교하기 쉽게 지도로 표현함.</p>
							<ul class="actions">
								<li><a href="/parking_expose_corr_map/"  class="button special">상세보기 →</a></li>
							</ul>
						</div>
					</div>
			</div>
			<div style="padding-right: 100px;">
				<a href="/statistic_list/" class="button special float-end">← 이전 페이지</a>
			</div>
			<br><br><br>
		</section>

{% endblock %}