{% extends "parking/base.html" %}
{% block count_map %}

<div class="container">
    <div class='tableauPlaceholder' id='viz1695688437517' style='position: relative background-color:#49476e;'>
        <noscript>
            <a href='#'>
                <img alt='구별 주차장 개수 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;_1&#47;_16956884270410&#47;1&#47;1_rss.png' style='border: none' />
            </a>
        </noscript>
        <object class='tableauViz'  style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
            <param name='embed_code_version' value='3' />
            <param name='site_root' value='' />
            <param name='name' value='_16956884270410&#47;1' />
            <param name='tabs' value='no' /><param name='toolbar' value='yes' />
            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;_1&#47;_16956884270410&#47;1&#47;1.png' />
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='language' value='ko-KR' />
            <param name='filter' value='publish=yes' />
        </object>
    </div>
    </br></br>
        <div style="border: 3px solid #E6E6FA; padding: 20px;">
            <ul>
                <li>
                    <p>카카오맵에서 '서울시 ##구만 주차장' 검색결과들을 크롤링하여 카카오API로 위도,경도 데이터를 추출함</p>
                </li>
                <li>
                    <p>로우 데이터이기 때문에 서울시 좌표가 아닌 데이터와 중복 데이터 등 전처리를 하였음</p>
                </li>
                <li>
                    <p>전처리 완료된 데이터로 Tableau 를 이용해 지도 시각화를 한 결과, 단 번에 각각 구 들에 주차장이 얼마나 분포해 있는 지 확인할 수 있음</p>
                </li>
            </ul>
            </br>
            <div style="padding-right: 50px;">
                <a href="/parking_count_detail_list/" class="button special float-end">← 이전 페이지</a>
            </div>
            </br></br>
        </div>
    <br>
</div>
    <script type='text/javascript'>
        var divElement = document.getElementById('viz1695688437517');
        var vizElement = divElement.getElementsByTagName('object')[0];
        vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
        vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>

{% endblock %}