{% extends "parking/base.html" %}

{% block parking_expose_corr_map %}
{% load static %}
<div class="container">
<div class='tableauPlaceholder' id='viz1695773834470' style='position: relative'>
    <noscript>
        <a href='#'>
            <img alt='구별 CCTV 갯수에 따른 불법주정차수 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;CC&#47;CCTV_16957313154630&#47;1&#47;1_rss.png' style='border: none' />
        </a>
    </noscript>
    <object class='tableauViz'  style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
    <param name='embed_code_version' value='3' />
    <param name='site_root' value='' />
    <param name='name' value='CCTV_16957313154630&#47;1' />
    <param name='tabs' value='no' />
    <param name='toolbar' value='yes' />
    <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;CC&#47;CCTV_16957313154630&#47;1&#47;1.png' />
    <param name='animate_transition' value='yes' />
    <param name='display_static_image' value='yes' />
    <param name='display_spinner' value='yes' />
    <param name='display_overlay' value='yes' />
    <param name='display_count' value='yes' />
    <param name='language' value='ko-KR' />
    <param name='filter' value='publish=yes' />
    </object>
</div>
    <script type='text/javascript'>                    var divElement = document.getElementById('viz1695773834470');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
</br></br>
    <div style="border: 3px solid #B0E0E6; padding: 20px;">
        <ul>
            </br>
            <li>
                <p> 가설: cctv 개수가 많을수록 불법주정차 적발건수가 많을 것이라고 예상</p>
            </li>
            </br>
            <li>
                <p>예상과는 다르게 강서구와 중구의 경우는 cctv가 적음에도 불법주정차 적발 건수가 많게 나타난 것으로 보아 낮은 상관성이 나타날 것으로 생각됨</p>
            </li>
        </ul>
        </br>
        <div>
            <a href="/parking_count_detail_list/" class="button special float-end">← 이전 페이지</a>
        </div>
        </br></br>
    </div>
    <br>
</div>
<script type='text/javascript'>
  var divElement = document.getElementById('viz1695698754256');
  var vizElement = divElement.getElementsByTagName('object')[0];
  vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
  var scriptElement = document.createElement('script');
  scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
  vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>


{% endblock %}