{% extends 'parking/base.html' %}
{% block seoul_circle %}
<div class="container">
<div class='tableauPlaceholder' id='viz1695705590204' style='position: relative'>
    <noscript>
        <a href='#'>
            <img alt='구별 주차장-주정차 적발 건수 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;-_&#47;-_16957055771480&#47;1&#47;1_rss.png' style='border: none' />
        </a>
    </noscript>
    <object class='tableauViz'  style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='-_16957055771480&#47;1' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;-_&#47;-_16957055771480&#47;1&#47;1.png' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='language' value='ko-KR' />
        <param name='filter' value='publish=yes' />
    </object>
</div>
</br></br>
    <div style="border: 3px solid #C8A2C8; padding: 20px;">
        <ul>
            <li>
                <p>앞서 보았던 서울시 구별 주차장에 구별 주정차 적발 건수를 같이 지도에 표현</p>
            </li>
            <li>
                <p>각 구 별로 주차장이 많을수록 해당 구 별 주정차 적발 건 수가 많은것으로 보임</p>
            </li>
            <li>
                <p>유동인구가 많은 지역일수록 주차장과 주정차 적발 건 수가 많을 것이라고 예상됨</p>
            </li>
            <li>
                <p>주차난을 해소할 수 있을만큼 충분한 주차장이 확보되어 있지 않은 것이 원인이라고 생각됨</p>
            </li>
            <li>
                <p>위 분석 결과를 바탕으로 보았을 때, 우리의 처음 설정한 가설과는 결과가 다르게 나타남</p>
            </li>
        </ul>
        </br>
        <div style="padding-right: 100px;">
            <a href="/parking_count_detail_list/" class="button special float-end">← 이전 페이지</a>
        </div>
        </br></br>
    </div>
    <br>
</div>
<script type='text/javascript'>var divElement = document.getElementById('viz1695705590204');
   var vizElement = divElement.getElementsByTagName('object')[0];
   vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
   var scriptElement = document.createElement('script');
   scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
   vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>
{% endblock %}




