{% extends "parking/base.html" %}

{% block main_page %}
<!-- Banner -->
<section id="banner">

    <div class="inner split">
        <section>
            <h3> TEAM / (주)찾앙 데이터 분석 프로젝트. </h3>
            <h2>Shut The Parking</h2>
            </br>
            <h4> 정범준 신건희</br> 강희연 유정민</h4>

        </section>
        <section>
            <p>LET'S GO</p>
            <ul class="actions">
                <li><a href="/contents/" class="button special">Get started</a></li>
            </ul>
        </section>
    </div>
    </br></br></br></br></br></br></br></br></br></br></br></br></br></br>
</section>
{% endblock %}