{% extends "parking/base.html" %}

{% block main_page %}
<!-- Banner -->
<section id="banner">

    <div class="inner split">
        <section>
            <h3> TEAM / (주)찾앙 데이터 분석 프로젝트. </h3>
            <h2>Shut The Parking</h2>
            </br>
            <h6>정범준(팀장) - 데이터 전처리, 폴리움을 이용한 지도시각화</h6>
            <h6>신건희 - 태블로와 날씨 데이터 분석</h6>
            <h6>강희연 - 웹 디자인 담당과 민원신고 데이터 분석</h6>
            <h6>유정민 - 대중교통 관련 데이터 분석</h6>
        </section>

        <section>
            <p>LET'S GO</p>
            <ul class="actions">
                <li><a href="/contents/" class="button special">Get started →</a></li>
            </ul>
        </section>
    </div>
    <div class="container mt-5" style="border: 2px solid white; padding: 10px;">
        <div class="card-body mt-5">
            <p style="font-size:30px; color:white; text-align:center;">우리 '(주)찾앙'은 불법 주정차 근절을 위해 이 프로젝트를 기획했습니다.</p>
        </div>
    </div>

    </br></br>
</section>
{% endblock %}