<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>Shut The Parking</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="{% static 'assets/js/ie/html5shiv.js' %}"></script>
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/ie9.css' %}">
		<link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	</head>
	<body>
	{% include "parking/nav.html" %} <!-- nav -->

	{% block solution_plan %}
	{% endblock %}

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/ie/respond.min.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
	</body>
</html>
