{% extends "parking/base.html" %}

{% block statistic_list %}
{% load static %}
		<!-- One -->
<section id="one" class="wrapper" xmlns="http://www.w3.org/1999/html">
				<div class="inner split">

					<section>
						<ul class="checklist"> <h2>분석 배경</h2>
							</br>
							<li>주차장 수에 따른 불법 주정차 적발 건수</li>
							<li>주정차 단속 카메라 적발건과 서울 시민들의 민원신고의 상관관계</li>
							<li>대중교통 이용량과 불법주정차 적발건의 연관성</li>
							<li>장마와 비장마철 강수량에 따른 불법주정차 적발건수 비교</li>
						</ul>
					</section>
					<section>
						<h2>데이터 분석 자료 </h2>
						</br>
						<h5>참고 자료</h5>

						<ul class="actions">
						</ul>
					</section>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2 alt">
				<div class="inner">
					<div class="spotlight">
						<div class="image">
							<img src="{% static 'images/pic01.png' %}" alt="">
						</div>
						<div class="content">
							<h3>1. 서울시 구별 주차장 수에 따른 불법 주정차 적발건 </h3>
							<p> 서울시의 구 별 주차장 수와 2018 - 2022 년도의 구 별 불법 주정차 적발 건의 평균을 구하고,
								한 눈에 볼 수 있도록 지도 시각화를 통하여 표현하였음 </p>
							<ul class="actions">
								<li><a href="/parking_count_detail_list/"  class="button special">상세보기</a></li>
							</ul>
						</div>
					</div>
					<div class="spotlight">
						<div class="image">
							<img src="{% static 'images/pic02.jpg' %}" alt="">
						</div>
						<div class="content">
							<h3>2. 단속 카메라 적발과 서울시 민원신고와의 상관관계</h3>
							<p>Lorem ipsum nisl sed cursus magna et amet veroeros. Sed phasellus malesuada quis orci. Pellentesque eget consequat.</p>
							<ul class="actions">
								<li><a href="/parking_expose_corr_detail_list/"  class="button special">상세보기</a></li>
							</ul>
						</div>
					</div>
					<div class="spotlight">
						<div class="image">
							<img src="{% static 'images/pic03.jpg' %}" alt="">
						</div>
						<div class="content">
							<h3>3. 대중교통 이용량과 불법주정차 적발건의 연관성</h3>
							<p>Lorem ipsum nisl sed cursus magna et amet veroeros. Sed phasellus malesuada quis orci. Pellentesque eget consequat.</p>
							<ul class="actions">
								<li><a href="/transportation/" class="button special">상세보기</a></li>
							</ul>
						</div>
					</div>
					<div class="spotlight">
						<div class="image">
							<img src="{% static 'images/pic04.jpg' %}" alt="">
						</div>
						<div class="content">
							<h3>4. 장마와 비장마철 강수량에 따른 주정차 적발건 비교</h3>
							<p>Lorem ipsum nisl sed cursus magna et amet veroeros. Sed phasellus malesuada quis orci. Pellentesque eget consequat.</p>
							<ul class="actions">
								<li><a href="/weather_corr/" class="button special">상세보기</a></li>
							</ul>
						</div>
					</div>

				</div>
			</section>

{% endblock %}