{% extends "parking/base.html" %}

{% block transportation %}

{% load static %}


<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="container">
        <div>
            <div style="text-align:center">
                <img src="{% static 'images/주차장_불법_대중.jpg' %}" style="height: 500px; width: 800px;">
            </div>
        </div>
        </br>
        </br>
<div style="padding: 10px;">
	<div style="border: 3px solid orange; padding: 10px;">
		<ul>
			<li>
				<p>주차장수와 2020~2022 3개년간 불법주정차 적발건수의 상관관계는 0.81~0.87로 유의미한 상관관계 존재 확인</p>
			</li>
			<li>
				<p>주차장수와 2020~2022 3개년간 대중교통(버스+지하철) 하차량의 상관관계는 0.69~0.72로 유의미한 상관관계 존재 확인</p>
			</li>
			<li>
				<p>3개년간 대중교통 하차량과 3개년간 불법주정차 적발건수간의 상관관계 수치는 20년, 21년, 22년 각 0.76, 0.78, 0.84로 유의미한 경향성 존재 확인</p>
			</li>
			<li>
				<p>3개년간 대중교통 하차량과 3개년간 불법주정차 적발건수간의 상관관계 수치는 20년, 21년, 22년 각 0.76, 0.78, 0.84로 유의미한 경향성 존재 확인</p>
			</li>
            <li>
				<p>3개년간 대중교통 하차량은 상관관계가 모두 1로 거의 변동없음</p>
			</li>
		</ul>
        <div style="padding-right: 100px;">
            <a href="/transportation/" class="button special float-end">← 이전 페이지</a>
        </div>
	    </br></br></br>
    </div>
</div>
</body>
</html>

{% endblock %}