{% extends "parking/base.html" %}

{% block statistic_list %}
{% load static %}
<!--<style>-->
<!--	img {-->
<!--		width: 650px;-->
<!--		height: 550px;-->
<!--	  }-->
<!--</style>-->

<div class="container" , style="border: 1px solid white; padding: 10px;" >
	<div style="border: 1px solid white; padding: 10px;">
		<div style="text-align:center;">
			<img src="{% static 'images/기상과 불법주정차단속의 상관관계.png' %}" alt="">
		</div>
	</div>
	<div style="border: 3px solid #56A0C3; padding: 10px;">
		<ul>
			<li>
				<p>기상상황에 따른 불법주정차와의 상관관계 분석</p>
			</li>
			<li>
				<p>강수량에 따른 불법주정차 적발은 낮은 상관관계를 나타내고 있음</p>
			</li>
			<li>
				<p>강수량과 마찬가지로 운량, 풍속에서도 낮은 상관관계가 나타남</p>
			</li>
		</ul>
	<div>
		<a href="/weather_corr/" class="button special float-end">← 이전 페이지</a>
	</div>
	</br></br></br>
	</div>
</div>

{% endblock %}